{{yield}}
<div class="regp">
    <section class="search">
        <div>
        <h2>/</h2>
        <input type="text" class="rInput" value="">
        <h2>/</h2>
        <input class="flags" type="text">
        </div>

        {{#if this.correct}}
        <button disabled=true type="button">RegEx Submit</button>
        {{else}}
        <button {{ on "click" this.regexFind}} type="button">RegEx Submit</button>
        {{/if}}
        {{#if this.correct}}
        <button class="continue" {{ on "click" this.nextLesson}} type="button">Continue</button>
        {{/if}}
    </section>
        
    <section class="lesson">
        <p>{{{this.lessonexplain}}}</p>
        <pre>{{{this.lessonpara}}}</pre>
            {{!-- {{#each @posts as |post|}}
                <h1>{{post.title}}</h1>
            {{/each}} --}}
    </section>
</div>

