{{yield}}
<div class="regp">
    <section class="search">
        <div>
        <h2>/</h2>
        <input type="text" class="rInput" value="">
        <h2>/</h2>
        <input class="flags" type="text">
        </div>

        {{#if this.correct}}
        <button disabled=true type="button">RegEx Submit</button>
        {{else}}
        <button {{ on "click" this.regexFind}} type="button">RegEx Submit</button>
        {{/if}}
    </section>
        {{#if this.correct}}
        <button {{ on "click" this.nextLesson}} type="button">Continue</button>
        {{/if}}
        
    <section class="lesson">
        <h2>{{{this.lessonexplain}}}</h2>
        <p>{{{this.lessonpara}}}</p>
    </section>
</div>